.blog-section{
  padding: 90px 0;
}

.blog-header{
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

.blog-header p{
  max-width: 720px;
  margin: 15px auto 0;
  color: var(--muted-color);
  line-height: 1.8;
}

.blog-filter-bar{
  max-width: 1050px;
  margin: 0 auto 30px;
  display: grid;
  grid-template-columns: 1.5fr 1fr 2fr 0.8fr;
  background: var(--card-bg);
  border: 1px solid rgba(255,165,0,0.12);
  box-shadow: 0 15px 35px rgba(0,0,0,0.08);
}

.blog-filter-bar select,
.blog-filter-bar input,
.blog-filter-bar button{
  border: none;
  outline: none;
  padding: 18px 20px;
  background: transparent;
  color: var(--text-color);
  border-right: 1px solid rgba(255,165,0,0.12);
}

.blog-filter-bar input::placeholder{
  color: var(--muted-color);
}

.blog-filter-bar button{
  background: var(--primary-color);
  color: #000;
  font-weight: 700;
  cursor: pointer;
  border-right: none;
}

.blog-grid{
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 35px;
  max-width: 1050px;
  margin: auto;
}

.blog-main-card,
.blog-small-card{
  color: var(--text-color);
}

.blog-main-card{
  display: block;
}

.blog-main-card img{
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 22px;
}

.blog-card-content span,
.blog-small-card span{
  color: var(--muted-color);
  font-size: 13px;
}

.blog-card-content h3{
  font-size: 32px;
  line-height: 1.2;
  font-weight: 500;
  margin: 12px 0;
}

.blog-card-content p{
  color: var(--muted-color);
  line-height: 1.6;
}

.blog-side-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
}

.blog-small-card{
  display: block;
}

.blog-small-card img{
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 12px;
}

.blog-small-card h4{
  font-size: 17px;
  line-height: 1.3;
  margin-top: 8px;
  font-weight: 600;
}

.blog-main-card,
.blog-small-card{
  transition: 0.3s;
}

.blog-main-card:hover,
.blog-small-card:hover{
  transform: translateY(-5px);
}

.blog-explore{
  text-align: center;
  margin-top: 45px;
}

.blog-explore a{
  display: inline-block;
  background: var(--primary-color);
  color: #000;
  padding: 13px 32px;
  border-radius: 30px;
  font-weight: 700;
}
.blog-filter-bar select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: var(--card-bg);
  color: var(--text-color);
}

.blog-filter-bar option{
  background: var(--card-bg);
  color: var(--text-color);
}
.blog-filter-bar select{
  cursor: pointer;
}

@media(max-width: 900px){
  .blog-filter-bar{
    grid-template-columns: 1fr;
  }

  .blog-filter-bar select,
  .blog-filter-bar input,
  .blog-filter-bar button{
    border-right: none;
    border-bottom: 1px solid rgba(255,165,0,0.12);
  }

  .blog-grid{
    grid-template-columns: 1fr;
  }
}

@media(max-width: 600px){
  .blog-side-grid{
    grid-template-columns: 1fr;
  }

  .blog-main-card img{
    height: 250px;
  }
}